@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&display=swap');
body{
      margin:0;
      padding:0;
      background-image: url("background.png"); 
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      font-family: 'Montserrat', sans-serif;
} 
  *{
     box-sizing: border-box; 
} 

.app{
   height: 600px;
   width: 700px;
   margin: 40px auto;
   background-color: rgba(91, 128, 86, 0.5);
   padding: 10px 50px 50px 50px;
   border-radius: 50px;
   border: 2px solid #82b5d1;
   box-shadow: 10px 15px 5px #82b5d1;
   
}
.app .quiz-box h1{
  font-size:30px;
  font-weight: 400;
  color:#FFFFFF;
  margin:20px 0px 20px 0px; 
  text-align: center;
  font-weight: bold;
}
